* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    background-color: #0181d1;
    height: 30vh;
}

.navbar {
    justify-content: center;
    margin: auto;
}

.matches-live {
      display: flex;
    justify-content: left;
    list-style: none;
    width: 100%; 
    gap: 20px; 
    margin-left: 380px;
}

.matches-live li a {
    text-decoration: none;
    color: white;
    font-size: 14px;
}

.matches-live li a:active {
    font-size: 13px;
    font-weight: bold;
}

#Matches {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-top: 30px;
    gap: 20px;
    padding-left: 380px;
    padding-right: 380px;
}

.Matches-box {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 260px;
    height: 120px;
    background-color: white;
    border: 1px solid white;
    border-radius: 15px;
    padding: 10px 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.Matches-box .top-head {
    text-decoration: none;
    font-size: 10px;
    margin-top: 2px;
}

.Matches-box .box-paragraph {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

.Matches-box .box-paragraph img {
    width: 20px;
    height: 15px;
    margin-right: 5px;
    vertical-align: middle;
}

.Matches-box .box-left {
    font-weight: bold;
    font-size: 14px;
}

.Matches-box .box-right {
    font-weight: smaller;
    font-size: 12px;
}

.Matches-box Time {
    font-weight: bold;
    font-size: 12px;
}

.result {
    font-size: 12px;
    color: rgb(92, 92, 92);
    margin-top: 10px;
}

.shedule {
    display: flex;
    border-top: 0.5px solid lightgray;
    gap: 15px;
    margin-top: 10px;
    padding-top: 10px;
}

.shedule a {
    text-decoration: none;
    font-size: 13px;
    color: rgb(36, 36, 36);
}

.runs {
    font-weight: bold;
    font-size: 13px;
}
.live{
    color: red;
    font-weight: bold;
    font-size: 13px;
}
#over{
    font-size: 12px;
    color: gray;
}
#runs{
    font-weight: bold;
    font-size: 13px;
}
.drinks{
    font-size: 12px;
    color: rgb(248, 149, 0);
}
.menu{
    display: flex;
    justify-content: center;
    list-style: none;
    background-color: #1ea9ff;
    width: 100%;
    margin-top: 40px;
    padding: 15px 0px;
}
.menu li{
    display: flex;
    gap: 5px;
}
.logo{
    display: flex;
    width: 250px;
    margin: auto;
}
.logo img{
    width: 200px;
    background-color: white;
}

.left-menu,.right-menu,.right-nav{
    display: flex;
    gap: 20px;
    margin: auto;
}
.left-menu{
    margin-right: 80px;
}
.right-menu{
    margin-left: 80px;
    margin-right: 20px;
}
.left-menu a,.right-menu a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-family: sans-serif;
}

.right-menu a{
    font-size: 16px;
}

.right-nav li{
    gap: 15px;
    list-style: none;
}
.right-nav li a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-family: sans-serif;
}
.right-nav li a img{
    width: 24px;
    height: 24px;
}
.right-nav li a button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}


