* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    background-color: #0181d1;
}

.navbar {
    justify-content: center;
    margin: auto;
}

.matches-live {
    display: flex;
    justify-content: left;
    list-style: none;
    width: 100%;
    gap: 20px;
    margin-left: 380px;
    padding-top: 10px;

}

.matches-live li a {
    text-decoration: none;
    color: white;
    font-size: 14px;
}

.matches-live li a:active {
    font-size: 13px;
    font-weight: bold;
}

#Matches {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-top: 30px;
    gap: 20px;
    padding-left: 380px;
    padding-right: 380px;
    margin-top: 25px;
}

.Matches-box {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 260px;
    height: 120px;
    background-color: white;
    border: 1px solid white;
    border-radius: 15px;
    padding: 10px 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.Matches-box .top-head {
    text-decoration: none;
    font-size: 10px;
    margin-top: 2px;
}

.Matches-box .box-paragraph {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

.Matches-box .box-paragraph img {
    width: 20px;
    height: 15px;
    margin-right: 5px;
    vertical-align: middle;
}

.Matches-box .box-left {
    font-weight: bold;
    font-size: 14px;
}

.Matches-box .box-right {
    font-weight: smaller;
    font-size: 12px;
}

.Matches-box Time {
    font-weight: bold;
    font-size: 12px;
}

.result {
    font-size: 12px;
    color: rgb(92, 92, 92);
    margin-top: 10px;
}

.shedule {
    display: flex;
    border-top: 0.5px solid lightgray;
    gap: 15px;
    margin-top: 10px;
    padding-top: 10px;
}

.shedule a {
    text-decoration: none;
    font-size: 13px;
    color: rgb(36, 36, 36);
}

.runs {
    font-weight: bold;
    font-size: 13px;
}

.live {
    color: red;
    font-weight: bold;
    font-size: 13px;
}

#over {
    font-size: 12px;
    color: gray;
}

#runs {
    font-weight: bold;
    font-size: 13px;
}

.drinks {
    font-size: 12px;
    color: rgb(248, 149, 0);
}

.menu {
    display: flex;
    justify-content: center;
    list-style: none;
    background-color: #1ea9ff;
    width: 100%;
    margin-top: 40px;
    padding: 15px 0px;

}

.menu li {
    display: flex;
    gap: 5px;
}

.logo {
    display: flex;
    width: 250px;
    margin: auto;
}

.logo img {
    width: 200px;
    background-color: white;
}

.left-menu,
.right-menu,
.right-nav {
    display: flex;
    gap: 20px;
    margin: auto;
}

.left-menu {
    margin-right: 80px;
}

.right-menu {
    margin-left: 80px;
    margin-right: 20px;
}

.left-menu a,
.right-menu a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-family: sans-serif;
}

.right-menu a {
    font-size: 16px;
}

.right-nav li {
    gap: 15px;
    list-style: none;
}

.right-nav li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-family: sans-serif;
}

.right-nav li a img {
    width: 24px;
    height: 24px;
}

.right-nav li a button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.fixture ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin: 20px 380px;
    margin-bottom: 40px;
}

.fixture ul li a {
    text-decoration: none;
    color: rgb(36, 36, 36);
    font-size: 12px;
    font-weight: bold;
    border: 0.5px solid rgba(128, 128, 128, 0.651);
    border-radius: 10px;
    padding: 2px 2px;
}

.fixture ul li a img {
    width: 15px;
    vertical-align: middle;
}

.main-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px 380px;
}

.content-main {
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 75%;
    margin-right: 20px;

}

.News {
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 20px;
}

.news-img img {
    width: 400px;
    border: transparent;
    border-radius: 10px;
}

.news-img img:hover {
    scale: 1.01;
}

.news-content {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.news-content a {
    text-decoration: none;
    color: black;
}

.news-content a h2 {
    font-size: 20px;
    margin-bottom: 10px;
    color: grey;
    font-size: 15px;
    font-weight: smaller;
}

.news-content a p {
    font-size: 28px;
    color: black;
    font-weight: bold;
}

.news-content .pakistan-news-links {
    display: flex;
    justify-content: left;
    flex-direction: column;
    margin-top: 10px;
}

.news-content .pakistan-news-links p {
    font-size: 15px;
    font-weight: small;
    font-family: sans-serif;
    margin-top: 7px;
}

.pakistan-news-links p:hover {
    color: #0181d1;
}

.pakistan-news-links p img {
    width: 11px;
    color: #0181d1;
}

.Match-coverage {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-top: 50px;
}

.Match-coverage h1 {
    font-size: 22px;
    margin-bottom: 15px;
}

.coverage-menu {
    display: flex;
    justify-content: left;
    list-style: none;
    gap: 30px;
}

.coverage-menu a {
    text-decoration: none;
    color: rgb(6, 6, 6);
    font-weight: bold;

}

.Match-coverage a p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: smaller;
    font-size: 11px;
    color: gray;
}

#NZ-vs-WI p {
    padding-bottom: 2px;
    border-bottom: 3px solid #0181d1;
}

.coverage-news {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
}

.coverage-news div img {
    width: 400px;
    border: transparent;
    border-radius: 10px;
}

.coverage-news div img:hover {
    scale: 1.01;
}

.coverage-news-update {
    display: flex;
    background-color: #57bfff1e;
    padding: 10px 10px;
    margin: 0px 20px;
}









.coverage-news-content {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    margin-top: 10px;
}

.coverage-news-content h1 {
    font-family: sans-serif;
    font-size: 24px;
}

.coverage-news-content a {
    text-decoration: none;
    font-size: 12px;
    margin: 5px 0px;
}

.coverage-news-content a:hover {
    color: #0181d1;
}

.coverage-news-content a img {
    width: 10px;

}

.coverage-news-content div a {
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: row;
    font-size: 15px;
}

.ashes-day2 {
    display: flex;
    list-style: none;
    gap: 10px;
    margin: 5px 0px;
}

.ashes-day2 a {
    text-decoration: none;
    font-size: 11px;
    font-weight: bolder;
    color: rgb(32, 32, 32);
}

.interviews {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    gap: 10px;
}

.interviews-list {
    display: flex;
    flex-direction: row;
    width: 150px;
}

.interviews-list a {
    text-decoration: none;
    color: black;
    font-size: 13px;
    font-weight: bold;
}

.interviews-list a img {
    width: 150px;
    border: transparent;
    border-radius: 10px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 25%;
}

.Must-watch {
    display: flex;
    flex-direction: column;
}

.Must-watch-header {
    display: flex;

    margin: 30px 0px;
}

.Must-watch-header span {
    margin-right: 140px;
}

#number {
    display: flex;
    flex-direction: column;
    background-color: #009dff2c;
    color: rgb(0, 153, 255);
    padding: 20px 13px;
    font-size: 80px;
}

.custom-image {
    display: flex;
    flex-direction: column;
    background-color: black;
    border: transparent;
    border-radius: 10px;
}

.custom-image img {
    border-top: transparent;
    border-radius: 10px;
}

.custom-image p {
    font-size: 14px;
    color: white;
    padding-left: 15px;
    padding-bottom: 10px;
}